.u-marginTopAuto {
  margin-top: auto;
}

.u-noMarginTop {
  margin-top: 0;
}

.u-marginTopMedium {
  margin-top: 1em;
}

.u-marginTopLarge {
  margin-top: 3em;
}

.u-marginLeftAuto {
  margin-left: auto;
}

.u-marginBottomTiny {
  margin-bottom: .25em;
}

.u-noMarginBottom {
  margin-bottom: 0;
}

.u-marginBottomSmall {
  margin-bottom: .5em;
}

.u-marginBottomMedium {
  margin-bottom: 1em;
}

.u-marginBottomLarge {
  margin-bottom: 3em;
}

.u-marginRightSmall {
  margin-right: 0.5em;
}

.u-marginHorizontalSmall {
  margin: 0 .25em;
}

.u-textAlignCenter {
  text-align: center;
}

.u-font-size-1-5 {
  font-size: 1.5em;
}

.u-inline-block * {
  display: inline-block;
  vertical-align: middle;
}

.u-flex {
  display: flex;
}

.u-flex-column {
  display: flex;
  flex-direction: column;
}

.u-height-100 {
  height: 100%;
}

.u-overflowHidden {
  overflow: hidden;
}

.u-fontStyleItalic {
  font-style: italic;
}

.u-fontSize-2 {
  font-size: 2em;
}

.u-heightAuto {
  height: auto;
}

.u-noShadow {
  box-shadow: none;
}

.u-highlight__green { --c-highlight: var(--green-dark);}
.u-highlight__red { --c-highlight: var(--red-dark);}
.u-highlight__blue { --c-highlight: var(--blue-dark);}
